<div class="row">
    <div class="col-md-8">
        <h1>I suggest you...</h1>
        <form name="formAdd" novalidate ng-submit="add()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>

            <div class="form-group">
                <input name="Title"
                       type="text"
                       class="form-control"
                       placeholder="Enter your idea"
                       ng-model="feature.Title"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <textarea name="Description"
                          type="text"
                          class="form-control"
                          rows="6"
                          placeholder="Describe your idea"
                          ng-model="feature.Description"
                          ng-required="true"></textarea>
            </div>
            <div class="form-group">
                <input name="Points"
                       type="number"
                       class="form-control"
                       placeholder="Give your idea some credit"
                       ng-model="feature.UserGivenVote.Points"
                       max="{{maxPoints}}"
                       min="1"
                       ng-change="vote()" />
            </div>


            <a href="/features" class="btn btn-default">Cancel</a>
            <button type="submit" ng-disabled="formAdd.$invalid" class="btn btn-primary">Post idea</button>
        </form>
    </div>
</div>