

<div>
    <!--<span ng-show="userInfo.AvailableVotePoints">Available points: {{userInfo.AvailableVotePoints}}</span>-->

    <div class="bg-danger validationErrors" ng-show="validationErrors">
        <ul>
            <li ng-repeat="error in validationErrors">{{error}}</li>
        </ul>
    </div>


    <h1>{{feature.Title}}</h1>
    <label for="description">Description</label><br />
    <span id="description">{{feature.Description}}</span><br />
    <label for="author">Author</label><br />
    <span id="author">{{feature.AuthorName}}</span><br />

    <label for="totalPoints">Total Points</label>
    <span id="totalPoints">{{feature.TotalGivenVotePoints}}</span><br />

    <form name="formSaveVote" novalidate ng-submit="saveVote()">
        <div class="col-xs-2">
            <label for="myPoints">My Points</label>
            <div class="input-group">
                <input type="number" id="myPoints" class="form-control" ng-model="feature.UserGivenVote.Points" max="{{maxPoints}}" min="1" ng-change="vote()">
                <span class="input-group-btn">
                    <button type="submit" ng-disabled="formSaveVote.$invalid" class="btn btn-primary">Vote</button>
                    <button type="button" ng-show="feature.UserGivenVote.Id == 0 || isAuthor" ng-click="deleteVote()" class="btn btn-danger">Unvote</button>
                </span>
            </div>
        </div>
    </form>
</div>