
<div class="row">
    <div class="col-md-8">
        <div class="bg-danger validationErrors" ng-show="validationErrors">
            <ul>
                <li ng-repeat="error in validationErrors">{{error}}</li>
            </ul>
        </div>


        <h2>{{feature.Title}}</h2>
        <!--<label for="description">Description</label><br />-->
        <span id="description">{{feature.Description}}</span><br />
        <label for="author">Author</label><br />
        <span id="author">{{feature.AuthorName}}</span><br />

        <label for="totalPoints">Total Points</label>
        <span id="totalPoints">{{feature.TotalGivenVotePoints}}</span><br />

        <form name="formSaveVote" novalidate ng-submit="saveVote()">
                <label for="myPoints">My Points</label>
                <div class="input-group col-md-4">
                    <input type="number" id="myPoints" class="form-control" ng-model="feature.UserGivenVote.Points" max="{{maxPoints}}" min="1" ng-change="vote()">
                    <span class="input-group-btn">
                        <button type="submit" ng-disabled="formSaveVote.$invalid" class="btn btn-primary">Vote</button>
                        <button type="button" ng-hide="feature.UserGivenVote.Id == 0 || isAuthor" ng-click="deleteVote()" class="btn btn-danger">Unvote</button>
                    </span>
            </div>
        </form>
    </div>
</div>