<div>
    <oauth site="https://dmiteststs.azurewebsites.net"
           client-id="implicitclient"
           redirect-uri="http://localhost:1881/"
           scope="dmivisionapi"
           template="lib/oauth-ng/html/default.html"
           authorize-path="/connect/authorize">
    </oauth>
    <div class="token" >
        with access token {{accessToken}}
    </div>
    <h1>Features</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="feature in features">
                <td>
                    <a href="/features/edit/{{feature.Id}}" class="btn btn-default btn-xs">edit</a>
                    <a href="/features/delete/{{feature.Id}}" class="btn btn-danger btn-xs">delete</a>
                </td>
                <td><a href="/features/detail/{{feature.Id}}">{{feature.Title}}</a></td>
                <td>{{feature.Description}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/features/add" class="btn btn-primary">Add New Feature</a>
    </p>
</div>