<div>
    <div class="row">
        <h2 class="col-md-7">Feature Requests</h2>
        <h2 class="col-md-1"><a href="/features/add" class="btn btn-primary ">Add your idea</a></h2>

    </div>
    <div class="row" ng-repeat="feature in features">

            <div class="col-md-1 text-center">
                <h3>{{feature.TotalGivenVotePoints}}</h3>            
                <span class="light">votes</span>
             </div>
            <div class="col-md-6">
                <h3><a href="/features/detail/{{feature.Id}}">{{feature.Title}}</a></h3>                
                <p>{{feature.Description | limitTo:descriptionMaxSize }} {{feature.Description.length < descriptionMaxSize ? '' : '...'}}</p>
                <p>{{feature.AuthorName}}</p>
            </div>
        <div class="col-md-1">
            <div ng-if="feature.AuthorId == userInfo.userId()">
                <h3>
                    <a title="edit" href="/features/edit/{{feature.Id}}" class="btn btn-default btn-xs">edit</a>
                </h3>
            </div>
        </div>
    </div>
    <div ng-show="pagination.totalPages > 1" class="col-md-8 text-center">
        <ul class="pagination">
            <li ng-class="{'disabled':pagination.previousPageLink==''}">
                <a href="#" ng-show="pagination.previousPageLink" ng-click="navigateToPage(pagination.currentPage-1)">&laquo;</a>
                <span ng-hide="pagination.previousPageLink">&laquo;</span>
            </li>
            <li ng-repeat="number in pagination.pageNumbers" ng-class="{'active': pagination.currentPage==number}">
                <a href="#" ng-hide="pagination.currentPage==number" ng-click="navigateToPage(number)">{{number}}</a>
                <span ng-show="pagination.currentPage==number">{{number}}</span>
            </li>
            <li ng-class="{'disabled':pagination.nextPageLink==''}">
                <a href="#" ng-show="pagination.nextPageLink" ng-click="navigateToPage(pagination.currentPage+1)">&raquo;</a>
                <span ng-hide="pagination.nextPageLink">&raquo;</span>
            </li>
        </ul>
    </div>   
</div>