<div>
    <h1>Features</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Points</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="feature in features">
                <td>
                    <div ng-if="feature.AuthorId == authorId">
                        <a href="/features/edit/{{feature.Id}}" class="btn btn-default btn-xs">edit</a>
                        <a href="/features/delete/{{feature.Id}}" class="btn btn-danger btn-xs">delete</a>
                    </div>
                </td>
                <td>{{feature.TotalGivenVotePoints}}</td>
                <td><a href="/features/detail/{{feature.Id}}">{{feature.Title}}</a></td>
                <td>{{feature.Description}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/features/add" class="btn btn-primary">Add New Feature</a>
    </p>
</div>